body {
  background-color: #bbaadd;
};



div {
  display: inline-block;
}

div ul li {
  display: inline-block;
  max-height: 200px;
  max-width: 200px;
  border: dashed;
}

div ul li img {
  max-width: 100%;
  max-height: 100%;
}
      