* {
  /* outline: 1px dotted red; */
  box-sizing: border-box;
}

body {
  background-color: #bbaadd;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

header nav {
  width: 80vw;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
}

nav p{
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 20vw;
  height:4vh;
  margin-left: 14rem;
  font-size: 30px;
}

main {
  height: 55vh;
  width: 100%;
  margin-top:60px;
  margin: 0 auto;
}

main section {
  position: relative;
  width: 80vw;
  height: 65vh;
  margin: 0 auto;
}

#productList {
  border: 2px solid black;
  height: 50vh;
  width: 16vw;
  line-height: 1.6;
  font-size: 20px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 5;
}

#product-container {
  /* border: dashed; */
  height: 50%;
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4;
  right: 0;
}

div ul {
  height: 95%;
  width: 100%;
  padding-bottom: 4%;
}

div img {
  width: 33%;
  height: 99%;
  padding-right:2%;
}

div img:last-child {
  margin-right: 0rem;
}

article {
  /* border: 2px dotted yellow; */
  width: 64vw;
  height: 16vh;
  margin-bottom: 10rem;
  line-height: 1.6;
  position: absolute;
  top: 1;
  bottom: 0;
  left: 5;
  right: 0;
}

article p {
  margin: 0rem 1rem 0rem 2.5rem;
  line-height: 1.6;
  font-size: 1.1rem;

}

footer {
  width: 80vw;
  height:7vw;
  margin:0 auto;
  font-size: 30px;
  border: 2px solid green;
}
